
create-product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sep {
    margin-top: 10px;   
    margin-bottom: 15px;   
    border-bottom: 1px solid rgb(210 210 210);
}


@media screen and (max-width: 1010px) {
    .responsive-image-position {
        display: flex;
        flex-direction: column;
    }
}