.custom-table {
    min-width: 1117px;
    box-shadow: 0px 2px 12px rgb(100 100 100 / 80%);
    border-radius: 12px;
}

.custom-container {
    overflow-x: auto;
    padding: 10px;
}


.description-sizing {
    max-width: 550px;
    max-height: 5rem;
    overflow: auto;
}

.custom-font-size-img {
    font-size: 0.8rem;
}