<div class="container custom-container" *ngIf="products.length != 0">
  <table class="table table-ligth table-striped custom-table">
      <thead>
        <tr class="row justify-content-center">
          <th scope="col" class="col-1 text-center">
            {{propId}}
          </th>
          <th scope="col" class="col-2 text-center">
            {{propTitle}}
          </th>
          <th scope="col" class="col-5 text-center">
            {{propDescription}}
          </th>
          <th scope="col" class="col-1">
            {{propImage}}
          </th>
          <th scope="col" class="col-1 text-center">
            {{propPrice}}
          </th>
          <th scope="col" class="col-1 d-flex justify-content-center">
            {{propSettings}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i" class="row justify-content-center">
        <th class="col-1 text-center"> {{i+1}} </th>
        <td class="col-2 text-center custom-container"> {{product.title}} </td>
        <td class="col-5 text-center custom-container description-sizing"> {{product.description}} </td>
        <td class="col-1 custom-font-size-img">
            <img [src]="product.image.url" alt="Imagen {{product.image.name}} no cargada" width='60' height="60">
        </td>
        <td class="col-1 text-center"> {{product.price}} </td>
        <td class="col-1 d-flex align-items-center px-1">
          <button class="btn btn-outline-warning me-1" (click)="onEdit(product.id)">
              <i class="bi bi-pen-fill"></i>
          </button>
          <button class="btn btn-outline-danger" (click)="onRemove(product.id)">
              <i class="bi bi-trash3-fill"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
</div>


<loading *ngIf="products.length == 0"></loading>