<form class="custom-frm" [formGroup]="productForm">
    <div class="custom-info-container">
        <span class="custom-spn">{{propTitle}}: </span>
        <input [class.is-invalid]="productForm.get('title').touched && productForm.get('title').invalid"
            [class.is-valid]="productForm.get('title').touched && productForm.get('title').value != ''"
            class="form-control w-75" type="text" formControlName="title">
    </div>
    <div class="custom-info-container">
        <span class="custom-spn">{{prorpPrice}}: </span>
        <input [class.is-invalid]="productForm.get('price').touched && productForm.get('price').invalid"
            [class.is-valid]="productForm.get('price').touched && productForm.get('price').value != ''"
            class="form-control w-75" type="number" formControlName="price">
    </div>
    <div class="custom-info-container">
        <span class="custom-spn">{{propDescription}}: </span>
            <textarea name="description" id="descriptionId" cols="40" rows="2" 
                [class.is-invalid]="productForm.get('description').touched && productForm.get('description').invalid"
                [class.is-valid]="productForm.get('description').touched && productForm.get('description').value != ''"
                class="form-control w-75" type="text" formControlName="description"
            ></textarea>
    </div>
    <div class="custom-info-container">
        <span class="custom-spn"> {{propUploadImage}}: </span>
        <input [class.is-invalid]="productForm.get('image').touched && productForm.get('image').invalid"
            [class.is-valid]="productForm.get('image').touched && productForm.get('image').value != ''"
            class="form-control w-75" type="file" [formControlName]="productForm.get('image')" accept=".jpg,.png" (change)="onSelectImage($event)">
    </div>
    <div class="custom-info-container">
        <button type="button" class="btn btn-outline-primary" (click)="addProduct()"
            [disabled]="isDisabledBtn()"
        >{{btnAddEdit}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="reset()"
            [disabled]="isDisabledBtn()"
        >{{btnCancel}}</button>
    </div>
</form> 

<div *ngIf="imageUrl != ''" class="d-flex flex-column">
    <img [src]="imageUrl" alt="Imagen no cargada" width="200" height="200">
    <span class="text-center"> {{imageName}} </span>
</div>