
.custom-frm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}

.custom-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.custom-spn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-upld {
    font-size: 9px;
    padding: 5px;
}
